@mixin texto-importante {
    color: white;
    background-color: darkred;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid lightcoral;
    box-sizing: border-box;
}

@mixin dimensao {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 8px;
}

.aviso {
    @include texto-importante;
    @include dimensao;
}