body {
    background-image: url('fundo_mario.jpeg'); /* Substitua por sua imagem */
    /*background-size: cover;*/
    background-position: center;
}

.mario {
    width: 240px;
    height: 240px;
    background-image: url('mario.gif'); /* Substitua por sua imagem do Mario */
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 20%;
}